:root {
  /* Colors */
  --primary: #BA2127;
  --primary--dark-theme: #F11313;
  --default: #757575;
  --warning: #ECC75F;
  --info: #1349BF;

  --primary-darker: #a71d23;

  --black: #000000;
  --offBlack: #222222;

  --white: #FFFFFF;
  --offWhite: #EFEFEF;
  --darkWhite: #f5f5f5;
  --gridLines: #EEF0F4;

  --grey-themeDark: #424242;
  --grey-darker: #3e3e3e;
  --grey-dark: #5e5e5e;
  --grey: #828282;
  --grey-light: #95989b;
  --grey-lighter: #a6a7a9;
  --grey-lightest: #dddddd;
  --grey-lightTG: #dad9da;
  --grey-alt: #aaabad;
  --grey-border: #e0e0e0;
  --grey-dark-border: #333333;

  --blueGrey: #4F5565;

  --orange-darkest: #662800;
  --orange-darker: #993d00;
  --orange-dark: #cc5100;
  --orange: #ff6600;
  --orange-light: #ff8432;
  --orange-lighter: #ffa366;
  --orange-lightest: #ffc199;

  --teal-darkest: #0d3331;
  --teal-darker: #20504f;
  --teal-dark: #38a89d;
  --teal: #4dc0b5;
  --teal-light: #64d5ca;
  --teal-lighter: #a0f0ed;
  --teal-lightest: #e8fffe;

  --indigo-darkest: #191e38;
  --indigo-darker: #2f365f;
  --indigo-dark: #5661b3;
  --indigo: #6574cd;
  --indigo-light: #7886d7;
  --indigo-lighter: #b2b7ff;
  --indigo-lightest: #e6e8ff;

  --purple-darkest: #21183c;
  --purple-darker: #382b5f;
  --purple-dark: #794acf;
  --purple: #9561e2;
  --purple-light: #a779e9;
  --purple-lighter: #d6bbfc;
  --purple-lightest: #f3ebff;

  --yellow: #ffcc00;

  --blue: #5995c7;

  --green: #67A011;
  --greenInfo: #5e973e;

  /* Background colors */
  --bg-grey: #424242;

  /* opacity */
  --opacity-0: 0;
  --opacity-25: .25;
  --opacity-50: .5;
  --opacity-75: .75;
  --opacity-100: 1;

  /* shadows */
  --shadow-default: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  --shadow-md: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  --shadow-lg: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-outline: 0 0 0 3px rgba(52, 144, 220, 0.5);
  --shadow-none: none;

  /* border-radius */
  --border-0: 0;
  --border-5: 5px;
  --border-10: 10px;

  /* z-indexes */
  --z-auto: auto;
  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
}
